################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.wsuo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
*.suo
/HundDataAPI/HundDataAPI/obj
/HundDataAPI/HundDataAPI.Data/obj
/HundDataAPI/HundDataAPI.Test/obj
*.user
/HundDataAPI/.vs/HundDataAPI/DesignTimeBuild
/HundDataAPI/.vs/HundDataAPI/v17
/HundDataAPI/.vs/ProjectEvaluation
